<div class="service-type-container">
    <div class="text-info-block">
        <h3>{{ serviceType.name }}</h3>
        <p><span class="blue-text">Lasting (min): </span>{{ serviceType.lastingInMinutes }}</p>
        <p><span class="blue-text">Category: </span>{{ serviceType.category }}</p>

        <button class="light-btn" (click)="description = !description">
            {{ description ? 'Hide' : 'Show' }} Description
        </button>

        <p *ngIf="description" class="gray-text">{{ serviceType.description }}</p>

        <br>
        <button class="light-btn" 
            (click)="goToServicesDataPage(serviceType.name, serviceType.id)">
            Show addresses and price
        </button>

        <br>
        <button class="light-btn"
            *ngIf="authService.isAdmin()"
            (click)="deleteServiceType()">
            Delete
        </button>

        <button class="light-btn"
            *ngIf="authService.isAdmin()"
            style="margin-left: 20px;">
            Update
        </button>
    </div>
    
    <img 
        [src]="serviceType.photoSrc" 
        [alt]="serviceType.name">
</div>