<div class="main-container">
    <div *ngIf="!authService.isAuthorized()" class="btns-container-1">
        <button class="btn-with-border no-margin-btn" 
            (click)="modalService.open(login)"
            style="margin-right: 20px;">
            Log In</button>
        <button class="btn-with-border no-margin-btn" 
            (click)="modalService.open(register)">
            Register
        </button>
    </div>

    <div *ngIf="authService.isAuthorized()" class="btns-container-2">
        <h1><span class="blue-text">Hello, </span><span class="f-italic">{{ authService.currentUser.userName }}</span></h1>
        <button class="btn-with-border no-margin-btn" (click)="authService.logOut()">Log Out</button>
    </div>

    <div *ngIf="modalService.isLogin$ | async">
        <app-modal title="Authorization" *ngIf="modalService.isVisible$ | async">
            <app-login></app-login>
        </app-modal>
    </div>
    
    <div *ngIf="modalService.isRegister$ | async">
        <app-modal title="Registration" *ngIf="modalService.isVisible$ | async">
            <app-register></app-register>
        </app-modal>
    </div>

    <!-- Account Info -->

    <div class="account-info" *ngIf="authService.isAuthorized()">
        <div class="account-info-left">
            <h3>{{ authService.currentUser.surname }} {{ authService.currentUser.name }} {{ authService.currentUser.middleName }}</h3>

            <img class="user-photo" [src]="authService.currentUser.photoUrl">

            <button class="btn-with-border" (click)="modalService.open(photo)">Load photo</button>
            <button class="btn-with-border" 
                style="margin-left: 20px;"
                (click)="deletePhoto()">
                Delete photo
            </button>

            <div *ngIf="modalService.isPhoto$ | async">
                <app-modal title="Create Photo" *ngIf="modalService.isVisible$ | async">
                    <app-create-photo></app-create-photo>
                </app-modal>
            </div>
        </div>
        
        <div class="account-info-right">
            <div class="phone-container">

                <form class="phone-form" [formGroup]="phoneForm" (ngSubmit)="submitPhone()">
                    <select class="modal-input" id="select-country">
                        <option value="Belarus" selected>Belarus</option>
                        <option value="Russia" disabled>Russia</option>
                    </select>
                    <input class="modal-input"
                        style="margin-left: 10px;"
                        type="tel" 
                        id="phone-input" 
                        placeholder="Phone number"
                        formControlName="phone">
                    <button class="mini-btn" type="submit">save</button>
                </form>
            </div>

            <hr>

            <button class="btn-with-border" style="margin-bottom: 20px;" (click)="showOrders()">My orders</button>

            <hr>

            <div style="margin-top: 70px">
                <p><span class="blue-text">Phone: </span><span class="f-italic">{{ authService.currentUser.phoneNumber }}</span></p>
                <p><span class="blue-text">Email: </span><span class="f-italic">{{ authService.currentUser.email }}</span></p>
            </div>
        </div>

    </div>
</div>