<div class="order-container">
    <p>
        <span class="blue-text">Date & Time: </span> {{ date }}
        <span class="blue-text"> from </span> {{ startTime }}
        <span class="blue-text"> till </span> {{ endTime }}</p>
    <p><span class="blue-text">Master: </span> {{ scheduleService.schedule.masterName }} {{ scheduleService.schedule.masterSurname }}</p>
    <p><span class="blue-text">Service: </span> {{ scheduleService.schedule.serviceName }}</p>
    <p><span class="blue-text">Price: </span> {{ scheduleService.schedule.servicePrice }}</p>
    <p><span class="blue-text">Address: </span> {{ scheduleService.schedule.address }}</p>
    <p><span class="blue-text">Status: </span> {{ order.status }}</p>

    <button class="light-btn" style="margin-right: 20px;" (click)="addFeedback()">add feedback</button>

    <div *ngIf="modalService.isFeedback$ | async">
        <app-modal title="Add Feedback" *ngIf="modalService.isVisible$ | async">
            <app-add-feedback [order]="order"></app-add-feedback>
        </app-modal>
    </div>
</div>