.modal-bg {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal-content-block {
    background-color: white;
    position: absolute;
    width: 50%;
    top: 100px;
    left: 25%;
    padding: 10px;
    border-radius: 5px;
}

h3 {
    text-align: center;
}