<form class="flex-form" [formGroup]="form" (ngSubmit)="submit()">
    
    <input type="file" style="display: none;" #input (change)="onFileUpload($event)">
    <button class="btn-with-border" type="button" (click)="triggerClick()">Choose Photo</button>

    <img *ngIf="imagePreview" [src]="imagePreview" alt="Service photo">

    <input class="modal-input" type="text" placeholder="Name" formControlName="name">
    <p class="error-message-under-field" *ngIf="name.errors?.required">
        Name is required!
    </p>

    <input class="modal-input" type="text" placeholder="Lasting (min)" formControlName="lastingInMinutes">
    <p class="error-message-under-field" *ngIf="lastingInMinutes.errors?.required">
        Lasting is required!
    </p>

    <input class="modal-input" type="text" placeholder="Description" formControlName="description">
    <p class="error-message-under-field" *ngIf="description.errors?.required">
        Description is required!
    </p>

    <select class="modal-input" formControlName="category">
        <option value="For Hair">For Hair</option>
        <option value="For Face">For Face</option>
        <option value="For Hands">For Hands</option>
        <option value="For Legs">For Legs</option>
        <option value="For Body">For Body</option>
        <option value="Total Care">Total Care</option>
    </select>
    <p class="error-message-under-field" *ngIf="category.errors?.required">
        Category is required!
    </p>
    
    <button class="btn-with-border" type="submit">Create</button>
</form>