.spa-service-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #10C9C3;
    border-bottom: 1px solid #10C9C3;
}