nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: #DCE8FF;
    box-sizing: border-box;
    padding: 15px 5% 15px 5%;
    text-transform: uppercase;
}

nav > a {
    margin-left: 5%;
    cursor: pointer;
    transition: all 0.5s;
}

nav > a:hover {
    color: #10C9C3;
    transition: all 0.2s;
}